:root {
   --primary-text-color:#212121;
   --secondary-text-color: #757575;
   --accent-color: #2196F3; 
   --primary-white-color: #FFFFFF;
   --primary-bgcolor:#2F303A;
   --secondary-bgcolor: #E5E5E5;
   --tertiary-bgcolor: #F5F4FA;
}

/*основные контейнеры разметка */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
      box-sizing: inherit;
  }

.container {
    color: var(--primary-text-color);
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section { 
    padding: 94px 0;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin:0 auto;
}

/*хедер */

.box1{ 
    background-color: var(--primary-white-color);
    border-bottom: 1px solid #ECECEC;
    min-width: 1600px;
    height: auto;
    margin: 0 auto;
    padding-top: 24px;
    padding-top: 25px;


}

.container.first {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-bottom: 32px;
}

.menu {
    list-style-type:none;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 0 auto;
    
}

.menu li {
    padding-right: 50px;
}


/*все списки на страницах*/
.list {
    list-style-type:none;
    display: flex;
    flex-direction: row;
    margin:0 auto;
    padding: 0;
}
/* конец все списки на страницах*/

.list.top {
    margin: 0 auto;
   
}

.list.top li {
    padding-left: 50px;
}

.header{ color: inherit;
         font-weight: 500;
         font-size: 14px;
         line-height: 1.14;
         letter-spacing: 0.02em;
         text-decoration: none;
         }

.header:hover, .header:focus { 
    color: var(--accent-color);
}


.header.active {
    color: var(--accent-color);
}

.contact1 {
    color: var(--secondary-text-color);
}

/*конец хедера*/
/* Logo*/

.logo {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    padding-right: 43px;
}

.logo2 {
    color: var(--primary-text-color);
}

.logo3 { 
    color: var(--primary-white-color);
}
/* конец лого*/
/*footer*/

.box6 {
    background-color: var(--primary-bgcolor);
    min-width: 1600px;
    height: auto;
    margin: 0 auto;
    padding-top:60px;
    padding-bottom: 60px;
}

.container.footer {
    display: block;
}

.address {
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.address li {
   margin-left: 0;
   padding-left: 0;
}

.footer {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    color: var(--primary-white-color);
    text-decoration: none;
}

.footer:hover, .footer:focus { 
    color: var(--accent-color);
}

.contact {
    color: rgba(255,255,255, 0.6);
}

/*end of footer*/
/*index контент качества компании*/

.box2 {
    background-color: var(--primary-bgcolor);
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-width: 1600px;
    height: auto;
    margin:0 auto;
    padding:200px 0;
}


.heading1 {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform:uppercase;
    text-align: center;
    letter-spacing: 0.06em;
    margin: 0 auto;
    margin-bottom: 30px;

}

.submit {
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    text-align: center;
    cursor: pointer;

    border: 1px solid transparent;
    border-radius: 4px;
    min-width: 200px;
    margin: 0px auto;
    padding-top: 10px; 
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    
}

.box3 {
    background-color: var(--secondary-bgcolor);
    min-width: 1600px;
    height: auto;
    margin: 0 auto;
    padding: 94px 0;
    display: flex;
    align-items: stretch;
}

.heading3 {
    font-size: 14px;
    line-height: 1.14;
    color: inherit;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 10px;
}

.list.quality {
    margin:0 auto;
    padding: 0;

}

.list.quality li {
    padding-left: 0;
    padding-right: 30px;
}

.description {
    color: var(--secondary-text-color);
    font-weight: 400;
    
}

.primary {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em; 
    font-weight: 400; 
   
}


/*index конец контента с качествами компании*/
/*index описание услуг*/

.box4 {
    background-color: var(--secondary-bgcolor);
    min-width: 1600px;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

.heading4 {
    font-size: 36px;
    line-height: 1.16;
    color: inherit;
    margin: 0 auto;
    padding: 0 0 50px;

}

.list.work {
    margin: 0 auto 94px;
    
}

.list.work li {
    margin-left: 0;
    margin-right: 30px;
}

/*index конец описания услуг*/
/*index наша команда*/

.box5 {
    background-color: var(--tertiary-bgcolor);
    min-width: 1600px;
    height: auto;
    margin: 0 auto;
    padding: 94px 0px;
}

.heading4.team {
    margin: 0 auto;
    padding-bottom: 50px;
}

.list.team {
    margin: 0 auto;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0;
}

.list.team li{
    margin-right: 30px;
    padding: 0;
    background-color: var(--primary-white-color);
}

.heading5 {
    font-style: medium;
    font-size: 16px;
    line-height: 1.18;
    color: inherit;
    margin: 30px 59px 10px 60px;
}

.description1 {
     color: var(--secondary-text-color);
    font-weight: 400;
    margin: 0 70px 30px;
}
/*index конец наша команда*/

/*portfolio контент*/

.box7 {
    background-color: var(--secondary-bgcolor);
    min-width: 1600px;
    height: auto;
    margin: 0 auto;
    padding: 94px 0;

}


/*portfolio buttons*/

.list.button {
    margin:0 auto; 
    padding: 0 301px 56px 302px;
    display: flex;
    justify-content: space-between;
    
}

.list.button li:not(last-child) {
 padding-right: 8px;
}

.filter {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color:var(--primary-text-color);
    border: 1px solid transparent;
    text-align: center;
    border-radius: 4px;
    height: 38px;
    min-width: 73px;
    padding: 6px 22px;
    
}

.filter.web {
    min-width: 128px;
    padding-bottom: 22px ;
    white-space: nowrap;
}

.filter:hover, .filter:focus {
    background-color: var(--accent-color);
    color:var(--primary-white-color);
}



/*portfolio ends buttons*/
/*portfolio сеть картинок-фильтров*/

.list.items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 94px;
}

.list.items li {
    border: 1px solid #EEEEEE;
    background-color: var(--primary-white-color);
    margin-right: 15px;
    margin-bottom: 50px;
    margin-top: 0;
    margin-left: 0;
}

.heading6 {
    color: inherit;
    font-size: 18px;
    line-height: 2;
    margin: 0 auto;
    padding: 20px 24px 0;
}

.secondary {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    margin: 0 auto;
    padding: 4px 24px 20px;
}

/*portfolio конец сетки картинок-фильтров*/
/*portfolio конец контента*/






